<html>
<head>
            <title>Uka's blog</title>
        </head>
        <body>
<h1>Djangogirls</h1>
<h2>Джангогерлс</h2>
<h3><em><strong>Нужно много кофе!</strong></em></h3>
    <p>Hi there!</p>
    <p>It works!</p>
    <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 06.02.2016, 16:38</p>
                <h2><a href="">Первый пост</a></h2>
                <p>Блаблабла</p>
            </div>

            <div>
                <p>published: 06.02.2016, 17:14</p>
                <h2><a href="">Вторая запись</a></h2>
                <p>Блабла</p>
            </div>
    </body>
</html>
