<html>
<head>
            <title>Uka's blog</title>
        </head>
        <body>
<h1>Djangogirls</h1>
<h2>Джангогерлс</h2>
<h3><em><strong>Нужно много кофе!</strong></em></h3>
    <p>Hi there!</p>
    <p>It works!</p>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
    </body>
</html>
